{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}

<main>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">
              {% if is_edit %}
                Редактируем пост
              {%else %}
                Добавить новый пост
              {% endif %}           
            </div>
            <div class="card-body">  
              {% if is_edit %}      
                <form method="post" action="{% url 'posts:post_edit' post_id %}" enctype="multipart/form-data">
              {% else %}
                <form method="post" action="{% url 'posts:post_create' %}" enctype="multipart/form-data">    
              {% endif %}
              {% csrf_token %}
                <input type="hidden" name="" value="">            
                <div class="form-group row my-3 p-3">
                  <label for="id_text">
                    {{ form.text.label|safe }} 
                    <span class="required text-danger" >*</span>                  
                  </label>
                    {{ form.text }}  
                  <small id="id_text-help" class="form-text text-muted">
                    {{ form.text.help_text|safe }}
                  </small>                  
                </div>            
                <div class="form-group row my-3 p-3">
                  <label for="id_group">
                    {{ form.group.label|safe }}                  
                  </label>
                  <select name="group" class="form-control" id="id_group">
                    <option value="" selected>  </option>
                    <option value=""> {% for group in form.group %} {{ group }} {% endfor %} </option>                    
                  </select>
                  <small id="id_group-help" class="form-text text-muted">
                    {{ form.group.help_text|safe }}
                  </small>
                </div>
                  <p> {{ form.image }}
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">
                    {% if is_edit %}   
                      Сохранить
                    {% else %}
                      Добавить
                    {% endif %}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}